:root {
  --background-color: #fff;
  --text-color: #121416d8;
  --link-color: #543fd7;
}

html[data-theme="light"] {
  --background-color: #fff;
  --text-color: #121416d8;
  --link-color: #543fd7;
}

html[data-theme="dark"] {
  --background-color: #212a2e;
  --text-color: #f7f8f8;
  --link-color: #828fff;
}

body {
  text-align: center;
  background: var(--background-color);
  color: var(--text-color);
}

#quote-content,
#quote-author {
  font-style: italic;
}

.hidden {
  display: none;
}
