:root {
  --background-color: #fff;
  --text-color: #121416d8;
  --link-color: #543fd7;
}

html[data-theme="light"] {
  --background-color: #fff;
  --text-color: #121416d8;
  --link-color: #543fd7;
}

html[data-theme="dark"] {
  --background-color: #212a2e;
  --text-color: #f7f8f8;
  --link-color: #828fff;
}

body {
  text-align: center;
  background: var(--background-color);
  color: var(--text-color);
  font-family: sans-serif;
}

#quote-content,
#quote-author {
  font-style: italic;
}

.hidden {
  display: none;
}

details {
  margin-top: 10px;
}

#detail-table {
  margin: auto;
  margin-top: 10px;
  border-collapse: collapse;
}

#detail-table th,
td {
  border: 1px solid var(--text-color);
  padding: 5px 10px;
}

#dialog {
  max-width: 500px;
}

#error-message {
  color: red;
}
